{% extends "base.html" %}

{% block content %}
<div class="posts">
<table class="table table-striped table table-hover">
  <thead>
    <tr>
      <th>任务名</th>
      <th>姓名</th>
      <th>日期</th>
      <th>进度</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 <tbody>
    {% for post in post_list %}
    			<tr>
                <td class="post-title">{{ post.title }}</td>
                <td class="post-author">{{ post.name }}</td>
                <td class="post-category post-category-js">{{ post.date_time }}</td>
                <td>{{ post.status }}</td>
                <td><a class="btn btn-primary" href = "{{ post.get_absolute_url2 }}">修改</a></td>
                <td><a class="btn btn-danger" href="{{ post.get_absolute_url1 }}">删除</a></td>
            	</tr>			
    {% endfor %}
</tbody>
</table>
</div>
<a class="btn btn-success" href="../add">新增</a>
{% endblock %}